 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    
}

body{
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}


#container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    position: inherit;
    background-color: #eff2ff;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 25% auto; 
}
#esquerdo {
    border: #000000 solid 2px;
    opacity: 0.5;
    vertical-align: top;
    height: 600px;
    background-color: rgb(148, 144, 144);
    display: inline-block;
}
#direito {
    border: #000000 solid 2px;
    opacity: 0.5;
    vertical-align: top;
    height: 600px;
    background-color: rgb(148, 144, 144);
    display: inline-block;
}