<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
    <style>
        body{
                background-color: #7affa8;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            h1{
                color: #005e16;
                font-weight: bold;
            }
            p{
                color: #1c1a1a;
                font-size: 18px;
            }
        </style>
</head>
<body>

    <h1>Cadastro de Produtos</h1>
    <form method="post" action="/entradaproduto">
        <label>Nome do Produto</label> 
        <input type="text" placeholder="Insira o nome" name="produto">
        <label>Preço</label>
        <input type="number" placeholder="Insira o preço" name="valor">
        <label>Quantidade</label>
        <input type="number" placeholder="Insira o valor" name="qntd">
        <button>Cadastrar</button>
    </form>
    
</body>
</html>