<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulário de Cadastro</h1>

    <form method="post", action="/lista">
        <label>Nome: </label>
        <input type="text">
        <label>idade: </label>
        <input type="text">
        <button>Cadastrar</button>
    </form>
</body>
</html>