h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
 p{
    text-align: justify;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}